<div class="card">
    <div class="card-header bg-primary text-white">
       Side Menu
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'account:home' %}">Home</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'account:players' %}">Players</a>
            </li>
            <li class="list-group-item">
                 <a href="{% url 'account:scheduling' %}">Scheduling</a>
            </li>
            <li class="list-group-item">
                 <a href="{% url 'account:care-takers' %}">Parents/Caretakers</a>
            </li>
            <li class="list-group-item"> 
                <form action="{% url 'account:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-sm" type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</div>
